#!perl

BEGIN {
    use Test::More;
    plan skip_all => 'set TEST_AUTHOR or TEST_POD to enable this test' and exit unless $ENV{TEST_AUTHOR} || $ENV{TEST_POD} || $ENV{TEST_ALL};
}

BEGIN {
    use Test::More;
    plan skip_all => 'set TEST_AUTHOR to enable this test' and exit unless $ENV{TEST_AUTHOR} || $ENV{TEST_ALL};
}
